.open {
    transform: translate3d(0, 0, 0);
}

.hide {
    transform: translate3d(100%,0,0);
}

.show {
    animation: 'show' 300ms forwards;
}

.transparent {
    animation: transparent 1000ms forwards ease-out;
}

@keyframes fluffy {
    0%  { transform: translate3d(0,0,0); }

    28%  { transform: translate3d(0,-3px,0); }

    52%  { transform: translate3d(0,0,0); }

    66%  { transform: translate3d(0,3px,0); }

    100%  { transform: translate3d(0,0,0);  }
}

@keyframes show {
    0%  { transform: translate3d(0,0,0); }

    100%  { transform: translate3d(0,-100vh,0); }
}

@keyframes show {
    0%  { transform: translate3d(0,0,0); }

    100%  { transform: translate3d(0,-100vh,0); }
}