header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid: auto / auto 1fr 1fr;
    background: var(--dark);
    top: 0 !important;
    z-index: 200000;
    width: 100%;
    color: var(--light);
    transition: 300ms background
}

.top_menu {
    display: flex;
    /*width: 100%;*/
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid: auto / auto 1fr auto;
    font-weight: bold;
    height: 60px;
    /*padding: calc(var(--halfPad) / 2) 0;*/

}

.top_menu .logo {
    margin-left: var(--fullPad);
}

.top_menu div ul {
    display: flex;
    align-items: center;
    margin-right: var(--fullPad);
}

.top_menu div ul * {
    font-weight: bold;
    cursor: pointer;
}

.top_menu .products_button {
    justify-self: flex-end;
    margin-right: calc(var(--fullPad) * 2);
    cursor: pointer;
}
